<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
   </head>

   <>
      {% if user.is_authenticated %}
      <p>Current user: {{ user.email }}</p>
      <p>logged</p>
      
      <form action="{% url 'oidc_logout' %}" method="post">
         {% csrf_token %}
         <input type="submit" value="logout">
      </form>
      {% else %}
      <p>not logged</p>
      {% endif %}

   </body>
</html>
